.basket_frame {
    width: 110%;
    height: 1500px;
    flex-direction: column;
    background-color: rgba(196, 196, 196, 0.2);
}
.basket_top {
    width: 1000px;
    display: flex;
    margin: auto;
    justify-content: start;
}
.basket_logo {
    padding-top: 1rem;
    color: #ff8833;
    font-weight: bold;
    font-size: 3rem;
    text-decoration-line: none;
}
.basket_box {
    width: 1000px;
    height: 100%;
    margin: auto;
    flex-direction: column;
    background-color: white;
}

.goods_box {
    width: 100%;
    height: 100%;
    border-top: 1px solid #000;
    border-right: 1px solid rgba(196, 196, 196, 0.5);
    border-bottom: 1px solid rgba(196, 196, 196, 0.5);
    border-left: 1px solid rgba(196, 196, 196, 0.5);
}

.goods_top {
    width: 900px;
    margin-top: 4%;
    margin-left: 4.5%;
    display: flex;
    flex-direction: row;
}
.goods_top_basket {
    font-size: 2.5rem;
    font-weight: bold;
    width: 100%;
    text-decoration-line: none;
    color: #000;
}
.goods_top_sequence {
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: end;
}
.sequence {
    color: rgba(196, 196, 196);
    font-weight: 500;
}
.sequence:nth-child(odd) {
    font-size: large;
    font-weight: 900;
}
.sequence:nth-child(3) {
    color: rgba(30, 140, 230);
}
.sequence:nth-child(4) {
    color: #000;
}

.goods_middle_banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    height: 50px;
    font-size: large;
    font-weight: bold;
    color: rgba(0, 0, 255, 0.8);
    margin-left: 45px;
    border-top: 0.5px solid rgba(0, 0, 255, 0.7);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-left: 0.5px solid rgba(0, 0, 255, 0.7);
    border-right: 0.5px solid rgba(0, 0, 255, 0.7);
    margin-top: 3%;
}

.basket_main {
    display: flex;
    flex-direction: row;
    width: 900px;
    height: auto;
    margin-left: 45px;
    padding-top: 2%;
}
.basket_main_left {
    width: 600px;
}
.basket_table {
    width: 600px;
}

tr,
table,
th {
    border: 1px solid rgba(196, 196, 196, 0.5);
    border-radius: 5px;
    border-collapse: collapse;
}
.table_title {
    display: flex;
    height: 50px;
    align-items: center;
    border: none;
}
.table_title1 {
    width: 100%;
    font-size: x-large;
    font-weight: 600;
}

.book_info1 {
    width: 200px;
}
.book_info3 {
    width: 400px;
}
