.frame {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo {
    padding-top: 10rem;
    color: #ff8833;
    font-weight: bold;
    font-size: 5rem;
    padding-bottom: 2rem;
}

.search_form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}
.search_box {
    width: 20rem;
    height: 3rem;
    color: darkgrey;
    border: 1px solid #d55b5b;
    border-radius: 30px;
    display: flex;
    text-align: center;
}
.search_button {
    width: 3rem;
    height: 2rem;
    background-color: white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 2rem;
}

.navbar_menu {
    padding: 1rem;
    color: darkgrey;
    text-decoration-line: none;
}

.navbar_menu:hover {
    color: #000;
    text-decoration-line: none;
    font-size: large;
}
